/* Colores para el modo claro por defecto */
:root {
  --color-header-bg: #ffffff; /* Blanco para el header */
  --color-header-text: #1f2937; /* Gris oscuro para el texto del header */
  --color-body-bg: #f3f4f6; /* Un gris muy claro, similar a lo que usa Tailwind por defecto */
  --color-text: #374151; /* Texto general */
  --color-primary-button-bg: #000000; /* Fondo del botón "Iniciar Sesión" */
  --color-primary-button-text: #ffffff; /* Texto del botón "Iniciar Sesión" */
  --color-footer-bg: #f3f4f6; /* gris claro */
  --color-footer-text: #6b7280; /* gris oscuro */
  --color-footer-heading: #1f2937; /* negro */
  --color-background-light: #f5f5f5; /* Fondo claro */
  --color-text-light: #333; /* Texto oscuro */

  --color-text2: #e5e7eb; /* Texto general */
}

/* Colores para el modo oscuro */
body.dark-mode {
  --color-header-bg: #1f2937; /* Gris oscuro para el header */
  --color-header-text: #e5e7eb; /* Gris claro para el texto del header */

  --color-body-bg: #32394e; /* Fondo negro */
  --color-text: #e5e7eb; /* Texto claro */
  --color-primary-button-bg: #ffffff; /* Fondo del botón "Iniciar Sesión" en blanco */
  --color-primary-button-text: #000000; /* Texto del botón "Iniciar Sesión" en negro */
  --color-footer-bg: #1f2937; /* gris oscuro */
  --color-footer-text: #d1d5db; /* gris claro */
  --color-footer-heading: #f3f4f6; /* gris muy claro */
  --color-background-light: #121212; /* Fondo oscuro */
  --color-text-light: #e0e0e0; /* Texto claro */
  --color-text2: #e5e7eb; /* Texto general */
}
