/* Colores para el modo claro por defecto */
:root {
  --color-header-bg: #4cb5a2; 
  --color-header-text: #ffffff;
  --color-body-bg: #e3f5ef; 
  --color-text: #374151; 
  --color-primary-button-bg: #000000; 
  --color-primary-button-text: #ffffff; 
  --color-secondary-button-bg: #001b29; 
  --color-secondary-button-text: #001b29; 
  --color-footer-bg: #4cb5a2; 
  --color-footer-text: #ffffff; 
  --color-footer-heading: #ffffff; 
  --color-background-light: #92ddca; 
  --color-text-light: #333; 

  --color-text2: #e5e7eb; 
  --color-solicitud: #d5f2ea;
}

/* Colores para el modo oscuro */
body.dark-mode {
  --color-header-bg: #000e14; 
  --color-header-text: #e5e7eb; 

  --color-body-bg: #00111a; 
  --color-text: #e5e7eb; 
  --color-primary-button-bg: #ffffff; 
  --color-primary-button-text: #000000; 
  --color-secondary-button-bg: #173646; 
  --color-secondary-button-text: #ffffff; 
  --color-footer-bg: #000e14; 
  --color-footer-text: #d1d5db; 
  --color-footer-heading: #f3f4f6; 
  --color-background-light: #152832; 
  --color-text-light: #e0e0e0; 
  --color-text2: #e5e7eb; 
  --color-solicitud: #23313f;
}
